---
name: Dependency Review

"on":
  pull_request:
  workflow_dispatch:

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write # Required for using the `comment-summary-in-pr` option
      id-token: write # for step-security/harden-runner to fetch OIDC token

    steps:
      - name: Harden runner (audit outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          comment-summary-in-pr: ${{ github.event_name == 'pull_request' && 'always' || 'never' }}
          fail-on-severity: moderate
          retry-on-snapshot-warnings: true
