---
name: Dependency Review

"on":
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write # Required for using the `comment-summary-in-pr` option
      id-token: write # for step-security/harden-runner to fetch OIDC token

    steps:
      - name: Harden runner (audit outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Dependency Review
        uses: actions/dependency-review-action@05fe4576374b728f0c523d6a13d64c25081e0803 # v4.8.3
        with:
          comment-summary-in-pr: ${{ github.event_name == 'pull_request' && 'always' || 'never' }}
          fail-on-severity: moderate
          retry-on-snapshot-warnings: true
